.profile {
  margin: 40px auto 0;
  display: flex;
  width: calc(100% - 2 * 200px);
}

@media screen and (max-width: 1279px) {
  .profile {
    width: calc(100% - 2 * 100px);
  }
}

@media screen and (max-width: 767px) {
  .profile {
    margin: 42px auto 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}
